<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>555350923144-aiufho6nb66lv4mejpuc3v95dcadhp6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555350923144-aiufho6nb66lv4mejpuc3v95dcadhp6n</string>
	<key>API_KEY</key>
	<string>AIzaSyDYqT3biVK5UfyLYOSoNjFhj_jjR2_NcJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>555350923144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.jonech.hyperapp</string>
	<key>PROJECT_ID</key>
	<string>hyper-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hyper-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:555350923144:ios:d3f0d67e97187c29</string>
	<key>DATABASE_URL</key>
	<string>https://hyper-app-dev.firebaseio.com</string>
</dict>
</plist>
